entrypoint = "index.js"
modules = ["nodejs-22", "docker"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["mongosh", "docker", "docker_25", "redis"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 6379
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80
